/* -------------------------------------------------------------------------------------------------------------------
                                                  Footer
------------------------------------------------------------------------------------------------------------------- */
.site-footer {
  background: #051121;
  padding: 15px 0;
  color: #dbdbdb;
  font-size: 13px;
  .row-footer-blocks {
    @include clearfix();
    @include break($neutral) {
    }
    @include break($mobile) {
    }
    .home & {
    }

    .container {
      position: relative;
    }

    .footer-blocks {
      overflow: hidden;
      .widget-title {
      }

      // Common rules for widgets.
      > div {
      }

      p {
        padding: 0;
      }

      .site-logo {
        float: left;
      }

      // Phone & mail.
      .contact-details {
        float: right;
        text-align: right;
        p {
          padding-bottom: 7px;
        }
        a {
          font-size: 14px;
          color: #fff;
          position: relative;
          text-decoration: none;
          display: inline-block;
          &.phone-number {
            letter-spacing: 1px;
            &::before {
              content: "\f10b"; // phone.
              font-family: $font_awesome;
              font-size: 30px;
              position: absolute;
              top: -10px;
              left: -25px;
            }
          }
          &.email {
            text-decoration: underline;
            &::before {
              content: "\f0e0"; // envelope.
              font-family: $font_awesome;
              font-size: 20px;
              position: absolute;
              top: -5px;
              left: -30px;
            }
          }
        }
        // Social icons block.
        .social-icons {
          a {
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .row-copyright {
    @include clearfix();
    text-align: center;
    @include break($neutral) {
    }

    p {
      padding: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .copyright {
      display: inline-block;
      @include break($neutral) {
      }
    }
    .footer-menu {
      display: inline-block;
      padding-left: 20px;
      li {
        display: inline-block;
        // Separator line.
        position: relative;
        padding: 0 6px 0 8px;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 4px;
          bottom: 4px;
          left: 0;
          width: 1px;
          background: #fff;
        }
        &:first-child {
          &::before {
            display: none;
          }
        }
      }
      @include break($neutral) {

      }
    }
  }

}