/* -------------------------------------------------------------------------------------------------------------------
                                                  Header elements
------------------------------------------------------------------------------------------------------------------- */
.site-header {
  position: relative;
  background: #fff;
  .container {
    position: relative;
  }

  p {
    padding: 0;
  }

  .row-top {
    @include clearfix();
    @include break($neutral) {
    }
    @include break($mobile) {
    }
  }

  .site-logo {
    text-align: center;
    padding: 20px 0;
    @include break($large) {
    }
    @include break($medium) {
    }
    @include break($neutral) {
    }
    @include break($mobile) {
    }
    a {
      text-decoration: none;
      &:hover {

      }
    }
    img {
      //display: block;
    }
  }

  .contact-details {
    position: absolute;
    left: 45px;
    top: 20px;
    a {
      display: block;
      margin-bottom: 10px;
      position: relative;
      color: $blue;
      &.phone-number {
        letter-spacing: 1px;
        &::before {
          content: "\f10b"; // phone.
          font-family: $font_awesome;
          font-size: 30px;
          position: absolute;
          top: -10px;
          left: -25px;
        }
      }
      &.email {
        &::before {
          content: "\f0e0"; // envelope.
          font-family: $font_awesome;
          font-size: 20px;
          position: absolute;
          top: -3px;
          left: -30px;
        }
      }
    }
  }
  .social-links {
    position: absolute;
    top: 20px;
    right: 15px;
    a {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

/* Primary menu.
------------------------------------------------------------ */
.header-menu {
  position: relative;
  z-index: 3;
  border-top: 1px solid $blue;
  padding: 20px 0;
  text-align: center;
  @include break($large) {
  }
  @include break($neutral) {
  }
  // Common styles.
  .main-menu {
    li {
      display: block;
      z-index: 2;
      position: relative;
      a {
        text-decoration: none;
        position: relative;
        display: block;
      }
      span {
        display: block;
        position: relative;
      }
    }
    // 1st level menus.
    > li {
      display: inline-block;
      margin: 0 10px;
      // items separator.
      &::before {
        content: '';
        display: block;
        height: 20px;
        width: 1px;
        background: $blue;
        position: absolute;
        top: 5px;
        left: -10px;
      }
      &:first-child::before {
        display: none;
      }
      @include break($neutral) {
      }
      > a {
        @include font(14px, 28px, $blue, 600);
        padding: 0 10px;
        transition: .3s;
        text-transform: uppercase;
        @include break($large) {

        }
        @include break($medium) {

        }
        @include break($neutral) {
          padding: 0 10px;
        }
        // Menu link decor.
        span {
          position: relative;
          display: block;
          /*&::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #a7e45d;
            transition: all .3s linear 0s;
          }*/
        }
        // Parent menu item.
        &.sf-with-ul {
          padding-right: 30px;
          // Bottom arrow.
          // Menu link arrow decor.
          &::after {
            content: "\f105"; // angle right.
            font-family: $font_awesome;
            display: block;
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 15px;
          }
        }
        // Hover root item.
        &:hover,
        &:focus {
          background: $blue;
          color: #fff;
          span::before {
            //width: 100%;
          }
          &::after {
          }
        }
      }

      // Parent root menu item.
      &.menu-item-has-children {
        // Keep activity for the root item while viewing dropdown.
        &.sfHover > a {
          background: $blue;
          color: #fff;
          span::before {
            //width: 100%;
          }
          &::after {
            content: "\f107"; // angle down.
          }
        }
      }

      // Active root menu item.
      &.current_page_item,
      &.current-menu-item,
      &.current-page-ancestor,
      &.current-menu-ancestor {
        > a {
          background: $blue;
          color: #fff;
          span::before {
            //width: 100%;
          }
          &::after {
            //content: "\f107"; // angle down.
          }
        }
      }

      // Animate dropdown menu.
      &.sfHover,
      &:hover {
        > ul.sub-menu {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }

      // 2nd Level.
      > ul.sub-menu {
        background: #fff;
        border: 1px solid #e4e4e4;
        padding: 15px 12px;
        display: none;
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 10;
        width: 240px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-out;
        transform: translateY(30px);
        text-align: left;
        @include break($medium) {
        }
        > li {
          /*border-top: 1px solid #d8d8d8;;
          &:first-child {
            border-top: none;
          }*/
          // Current sub menu item.
          &.current_page_item > a,
          &.current-menu-ancestor > a,
          &.current-menu-item > a {
            color: $blue;
          }
          > a {
            font-size: 14px;
            color: #888;
            padding: 3px 0;
            @include break($medium) {
            }
            @include break($neutral) {
            }
            // Hover sub menu item.
            &:hover {
              color: $blue;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

}
