/* Main Theme Styles file */
// Major components.
@import "reset";
@import "variables";
@import "functional";
@import "header";
@import "footer";
@import "slider_theme";
//@import "owl.carousel.core";
//@import "magnific_popup";
@import "elements";
//@import "woocommerce";
//@import "gravity_forms";

/* -------------------------------------------------------------------------------------------------------------------
                                                  Custom blocks & decor.
------------------------------------------------------------------------------------------------------------------- */
/* Welcome text the home page.
------------------------------------------------------------ */
.row-welcome-text {
  background-color: #eaeef1;
  text-align: center;
  padding: 30px 0;
  @include font(30px, 1.3, #2c2c2d, 300);
}

/* Row with house icon on the home page.
------------------------------------------------------------ */
.parallax-blue {
  height: 488px;
  .container, .row {
    height: 100%;
    > div {
      height: 100%;
      position: relative;
    }
  }
  .block {
    color: #fff;
    line-height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h2 {
      color: #fff;
    }
  }
}

/* Row with solid blue background on the home page.
------------------------------------------------------------ */
.blue-line-text {
  text-align: center;
  @include font(30px, 1.27, #fff, 300);
  background: $blue;
  border-top: 10px solid #8aaed0;
  //padding: 100px 0;
  padding: 5vw 0;
  .block {
    margin: 0 auto;
    max-width: 980px;
  }
  strong {
    font-weight: 600;
  }
  em {
    font-size: 18px;
    display: block;
    font-style: normal;
    padding: 20px 0;
  }
  a.btn {
  }
}

/* Row with images on the home page.
------------------------------------------------------------ */
.image-blocks {
  overflow: hidden;
  .block {
    float: left;
    width: 33.33%;
    position: relative;
    p {
      padding: 0;
      line-height: 0;
    }
    img {
      display: block;
      width: 100%;
    }
    strong {
      @include font(50px, 1.44, #fff, 600);
      letter-spacing: -2px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 50px;
      bottom: 44px;
      @include break($large) {
        font-size: 40px;
        left: 40px;
        bottom: 32px;
      }
      @include break($medium) {
        font-size: 30px;
        left: 30px;
        bottom: 20px;
      }
    }
  }
}

/* Gears background row on the home page.
------------------------------------------------------------ */
.gears-bg {
  padding: 90px 0 100px;
  background-size: contain;
  background-position: 100% 0;
  @include break($medium) {
    padding: 45px 0 50px;
  }
  @include break($neutral) {

    background: #fff !important;
  }
}

/* About page.
------------------------------------------------------------ */
.row-about-content {
  padding-top: 30px;
  .block {
    strong {
      display: block;
      padding-bottom: 10px;
      margin-top: -15px;
    }
  }
  .border-bottom {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
  }
}