/* Main Theme Styles file */
// Major components.
@import "reset";
@import "variables";
@import "functional";
@import "header";
@import "footer";
@import "slider_theme";
@import "owl.carousel.core";
//@import "magnific_popup";
@import "elements";
//@import "woocommerce";
//@import "gravity_forms";

/* -------------------------------------------------------------------------------------------------------------------
                                                  Custom blocks & decor.
------------------------------------------------------------------------------------------------------------------- */
/* Logotypes carousel on the home page.
------------------------------------------------------------ */
.row-referenzliste {
  border-top: 1px solid #b4b4b4;
  padding: 40px 0 30px;
}

.logo-items {
  width: auto;
  padding: 0 30px;
  .item {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
    .featured-thumbnail {
      padding-bottom: 10px;
    }
    .title {
      position: relative;
      padding-bottom: 10px;
      font-weight: 600;
      color: $blue;
      /*&::after {
        content: url("../images/icon-stars.png");
        display: block;
      }*/
    }
    .post-content {
      font-size: 13px;
      padding-bottom: 10px;
    }
    .read-more-wrapper {
      color: $blue;
    }
  }
  // Prev / next arrows.
  .owl-nav {
    font-size: 0;
    div {
      position: absolute;
      top: 50%;
      width: 26px;
      height: 80px;
      transform: translateY(-50%);
      background: url("../images/carousel-arrow.png") no-repeat;
      @include break($large) {
      }
      .non-touch &:hover {
        opacity: .7;
      }
      &.owl-prev {
        left: -20px;
        transform: translateY(-50%) rotate(180deg);
        @include break($mobile) {
        }
      }
      &.owl-next {
        right: -20px;
        @include break($mobile) {
        }
      }
    }
  }
  // Pagination dots.
  .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    > div {
      margin: 0 5px;
      width: 10px;
      height: 10px;
      background: #fff;
      border: 1px solid #888;
      display: inline-block;
      &:hover,
      &.active {
        background: $blue;
        border-color: $blue;
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------------
                                                  Pages & content types.
------------------------------------------------------------------------------------------------------------------- */
.page-about {

}
.block-about-me {
  text-align: center;
  color: #fff;
}